name: RGZ CI/CD Pipeline

on:
  push:
    branches: [ main ]
    paths:
      - 'labs/rgz/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'labs/rgz/**'

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install PostgreSQL client
      run: sudo apt-get install -y postgresql-client

    - name: Install Python dependencies
      working-directory: ./labs/rgz
      run: |
        pip install -r requirements.txt
        pip install pytest bandit

    - name: Setup test database
      working-directory: ./labs/rgz
      env:
        DB_HOST: localhost
        DB_ADMIN_USER: postgres
        DB_ADMIN_PASS: postgres
        DB_NAME: subscriptions_db
        DB_APP_USER: flask_user
        DB_APP_PASS: flask_password
      run: |
        sleep 5
          
        chmod +x manage.sh
          
        echo "start database setup"
        ./manage.sh setup_db
          
        echo "Database ready"

    - name: Run security check with Bandit
      working-directory: ./labs/rgz
      run: bandit -r app.py tests/ -s B101,B110

    - name: Run unit tests with Pytest
      working-directory: ./labs/rgz
      env:
        rgz_db_password: ${{ secrets.RGZ_DB_PASSWORD }}
        flask_secret: ${{ secrets.FLASK_SECRET }}
      run: python -m pytest tests/ -v